:root {
  --background-body-dark: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  --background-body-white: #FFFFFF;
  --background-button: #F1CDB3;
  --text-color-light: #CDCDCD;
  --text-color-dark: #292929;
  --text-color-grey: #545454;
  --text-color-white: #FFFFFF;
  --text-color-contact: #F1CDB3;
  --font-Arial: 'Arial';
  --font-Georgia: 'Georgia';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  background: var(--background-body-dark);
}

/* HEADER */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__menu, 
.home__container {
  display: flex;
  justify-content: space-between
}


.header__menu {
  height: 99px;
  align-items: center;
}

.header__link {
  color: var(--text-color-light);
  font-size: 17px;
  font-family: var(--font-Arial);
  letter-spacing: 0.03em;
}

.logo__title {
  font-family: var(--font-Georgia);
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--text-color-contact);
}

.logo__subtitle {
  margin-top: 9px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.content {
  height: calc(100vh - 99px);
}

/* HOME */
.home {
  height: 100%;
}

.home__container {
  height: 100%;
}

.home__content {
  width: 30%;
  align-self: center;
}

h1 {
  font-family: var(--font-Georgia);
  color: var(--text-color-white);
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
}

.home__text {
  margin-top: 40px;
  color: var(--text-color-light);
  font-family: var(--font-Arial);
  font-size: 15px;
  line-height: 160%;
}

.home__btn {
  padding: 15px 45px;
  margin-top: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-button);
  border-radius: 30px;
  font-size: 17px;
  font-family: var(--font-Georgia);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--text-color-dark);
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.home__btn {
  background-color: #FDDCC4;
}

.home__img {
  align-self: flex-end;
}

/* ABOUT THE SHELTER */
.about {
  height: 100%;
  background-color: var(--background-body-white);
}

.about__container {
  height: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.about__content {
  width: 33%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.title {
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--text-color-grey);
}

.about__text {
  color: var(--text-color-dark);
  font-family: var(--font-Arial);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

/* CONTACT */
.contact {
  height: 100%;
}

.contact__container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  row-gap: 100px;

}

.contact__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.contact__title {
  color: var(--text-color-white);
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 32px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.contact__info {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-color-contact);
}

.contact__info a {
  text-decoration: none;
  color: var(--text-color-contact);
}

.contact__info i {
  font-size: 35px;
}

.contact__info a,
.contact__info span {
  font-size: 20px;
  font-family: var(--font-Georgia);
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}


